.main-nav {
	display:flex;
	justify-content: space-between;
    padding: 5px 90px;
    border-bottom: 1px solid darkolivegreen;
}


.img{
    width: 150px;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
}

.right-nav {
	display: flex;
    align-items: center;
}

