.main-nav {
	display:flex;
	justify-content: space-between;
    padding: 5px 90px;
    border-bottom: 1px solid darkolivegreen;
}

.main-nav img{
    width: 150px;
    height: 60px;
    overflow: hidden;
    margin-top: -6px;
}

.right-nav > ul {
	display: flex;
    align-items: center;
    list-style-type: none

}

.right-nav > ul > li {
	margin: auto;
    cursor: pointer;
    text-align: center;
}
