.loginFormContainer {
    background: url('loginbg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-position-x: 90%;
    height: 495px;
    padding-bottom: 220px;
}

.login-form-box {
    max-width: 600px;
    color: darkolivegreen;
    background-color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 6px;
    font-size: medium;
    font-family: sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 2em;
}

// .login-form-box label {
//     // margin: 0;
//     // padding: 0;
//     // color: darkolivegreen;
//     // padding-top: 2em;
//     // padding-right: 2em;
//     // width: 6em;
//     text-align: center;
//     // float: left;

// }


.login-input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.login-input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.session-submit {

    background:white;
    border-radius: 4px;
    border: none;
    color: darkolivegreen;
    font-size: 1.125rem;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    font-weight: normal;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: darkolivegreen;

}


.loginerrors {
    color:red;
    position: relative;
    top: 0px;
    text-align: center;
    text-decoration: none;
}