.signup-form-box {max-width: 600px;
    background-color: white;
    color: darkolivegreen;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 6px;
    font-size: medium;
    font-family: sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 2em;
}



.signup-input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.signup-input[type=password]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



.signup-submit{

    background:white;
    border-radius: 4px;
    border: none;
    color: darkolivegreen;
    font-size: 1.125rem;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 19px;
    font-weight: normal;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 0.5rem;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: darkolivegreen;

}




.signuperrors {
    color:red;
    position: relative;
    top: 0px;
    text-align: center;
    white-space: pre-line;
}
